/* Styles applied to banner section */

#banner-section {
  @include flex-box(flex-start, center);
  @extend %space-from-top;
  width: 100%;

  @media only screen and (max-width: $breakpoint4) {
    @include flex-box(flex-start, center, column, flex);
  }

  .container-mdm {
    @include flex-box(flex-start, stretch, row, flex);
    width: 60%;

    @media only screen and (max-width: $breakpoint2) {
      width: 50%;
    }

    @media only screen and (max-width: $breakpoint4) {
      width: 100%;
    }

    .image {
      width: 100%;
      padding: 32px 24px;

      @media only screen and (max-width: $breakpoint4) {
        padding: 0;
        margin-top: -5px;
      }

      img {
        max-width: 100%;
        height: auto;
        box-shadow: $standard-shadow;
        border-bottom: $highlight-border;
      }
    }
  }

  .container-sml {
    width: 40%;

    @media only screen and (max-width: $breakpoint2) {
      width: 50%;
    }

    @media only screen and (max-width: $breakpoint4) {
      width: 100%;
    }

    .info {
      @include flex-box(space-around, stretch, column, flex);
      max-width: 90%;
      padding: 32px 0 32px 16px;

      @media only screen and (max-width: $breakpoint4) {
        max-width: 100%;
        padding: 32px 16px;
      }

      h1 {
        font : {
          size: 2rem;
          weight: 900;
        }
        width: 100%;
        color: $blue;
      }

      h2 {
        width: 100%;
        padding: 24px 0;

        @media only screen and (max-width: $breakpoint4) {
          padding: 32px 0 24px 0;
        }
      }

      button {
        text-align: center;
        font-weight: 600;
        padding: 0.5rem 0;
        width: 60%;
        border: none;
        border-radius: $standard-radius;
        color: $white;
        background-color: $yellow;
        outline: none;
        transition: background-color 400ms linear, color 400ms linear;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
