/* Style applied to courses section */

#courses-section {
  @extend %space-from-top;
  width: 100%;

  .container-lrg {
    @include flex-box(flex-start, stretch, column, flex);
    padding: 32px 72px;

    @media only screen and (max-width: $breakpoint2) {
      padding: 32px;
    }

    @media only screen and (max-width: $breakpoint4) {
      padding: 32px 16px;
    }

    .title {
      text : {
        align: center;
        decoration: underline;
        decoration-color: $yellow;
      }

      font : {
        size: 2rem;
        weight: 900;
      }
      color: $blue;

      @media only screen and (max-width: $breakpoint4) {
        padding: 0 0 8px 0;
      }
    }

    .courses {
      @include flex-box(flex-start, stretch, column, flex);

      .courses-row {
        @include flex-box(flex-start, stretch, row, flex);
        width: 100%;
        padding: 32px 0 0 0;

        @media only screen and (max-width: $breakpoint4) {
          @include flex-box(flex-start, stretch, column, flex);
          padding: 0;
        }

        .course {
          @include flex-box(flex-start, stretch, column, flex);
          border : {
            bottom: $highlight-border;
            radius: $standard-radius;
          }
          width: 33.33%;
          background-color: $cream;
          box-shadow: $standard-shadow;

          &:nth-child(0n + 2) {
            margin: auto 32px;

            @media only screen and (max-width: $breakpoint4) {
              margin: 8px 0 0 0;
            }
          }

          img {
            width: 100%;
            height: auto;
            border-bottom: $highlight-border;

            @media only screen and (max-width: $breakpoint4) {
              display: none;
            }
          }

          @media only screen and (max-width: $breakpoint4) {
            width: 100%;
            margin: 8px 0 0 0;
          }

          .tekst {
            @include flex-box(flex-start, stretch, column, flex);
            padding: 16px 16px 24px 16px;

            h1 {
              font : {
                size: 1.5rem;
                weight: 800;
              }
              text-align: left;
              padding: 0;
              color: $blue;
            }

            span {
              padding: 8px 0;
              font-size: 0.75rem;

              @media only screen and (max-width: $breakpoint4) {
                display: none;
              }
            }

            p {
              font-weight: 500;

              @media only screen and (max-width: $breakpoint4) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
