/* Styles applied to news section */

#news-section {
  @include flex-box(flex-start, stretch, row, flex);
  @extend %space-from-top;
  width: 100%;
  background-color: $light-blue;

  .container-mdm {
    @include flex-box(flex-start, stretch, row, flex);
    width: 60%;

    @media only screen and (max-width: $breakpoint2) {
      width: 50%;
    }

    @media only screen and (max-width: $breakpoint4) {
      display: none;
    }

    .article {
      width: 100%;
      padding: 32px 24px;

      img {
        max-width: 100%;
        height: auto;
        box-shadow: $standard-shadow;
        border-bottom: $highlight-border;
      }

      .tekst {
        @include flex-box(space-around, stretch, column, flex);

        h1 {
          font : {
            size: 2rem;
            weight: 900;
          }
          padding: 32px 0 24px 0;
          color: $blue;
        }

        span {
          padding-top: 24px;
          font-size: 0.8rem;
        }
      }
    }
  }

  .container-sml {
    width: 40%;

    @media only screen and (max-width: $breakpoint2) {
      width: 50%;
    }

    @media only screen and (max-width: $breakpoint4) {
      width: 100%;
      padding: 16px 16px 32px 16px;
    }

    .snippets {
      @include flex-box(flex-start, stretch, column, flex);
      width: 90%;
      padding: 16px 0 16px 16px;

      @media only screen and (max-width: $breakpoint4) {
        width: 100%;
        padding: 0;
      }

      .snippet {
        @include flex-box(flex-start, center, row, flex);
        width: 100%;
        margin: 16px 0;
        background-color: $cream;
        border-radius: $standard-radius;
        border-right: $highlight-border;
        box-shadow: $standard-shadow;

        @media only screen and (max-width: $breakpoint4) {
          @include flex-box(flex-start, center, column, flex);
          border-right: none;
          border-bottom: $highlight-border;
          margin: 0;
          &:nth-child(2n + 0) {
            margin: 48px 0;
          }
        }

        .normal {
          @media only screen and (max-width: $breakpoint4) {
            display: none;
          }
        }

        .mobile {
          @media only screen and (min-width: $breakpoint4 + 1) {
            display: none;
          }
        }

        img {
          border-right: $highlight-border;
          max-width: 35%;
          height: auto;

          @media only screen and (max-width: $breakpoint4) {
            border-right: none;
            border-bottom: $highlight-border;
            max-width: 100%;
          }
        }

        .tekst {
          @include flex-box(flex-start, stretch, column, flex);
          width: 65%;
          padding-left: 16px;

          @media only screen and (max-width: $breakpoint4) {
            padding: 16px 0;
          }

          h1 {
            font : {
              size: 1.1rem;
              weight: 800;
            }
            color: $blue;
          }

          p {
            padding: 8px 0 16px 0;
            font-size: 0.85rem;

            @media only screen and (max-width: $breakpoint1) {
              padding: 8px 0;
            }
          }

          span {

            a {
              font : {
                size: 0.85rem;
                weight: 600;
              }
              color: $white;
              background-color: $yellow;
              border-radius: $standard-radius;
              padding: 0.5rem;
              text-decoration: none;
              transition: background-color 400ms linear, color 400ms linear;

              &:hover {
                color: $blue;
              }

              @media only screen and (max-width: $breakpoint1) {
                padding: 0.25rem;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}
