/* Importing helper scss files */
/* Declaring variables */
/* Declaring mixins */
/* Declaring placeholders */
#banner-section, #news-section, #courses-section, #thesis-section, #footer-section {
  position: relative;
  top: 64px; }

/* Importing section scss files */
/* Styles applied to header section */
#header-section {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #f2be54;
  background-color: #153e5c;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
  #header-section .logo {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 24px; }
    #header-section .logo img {
      position: relative;
      top: 0.2rem;
      height: 4rem; }
    #header-section .logo .logo-word1 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      position: relative;
      bottom: 0.75rem; }
      @media only screen and (orientation: portrait) {
        #header-section .logo .logo-word1 {
          display: none; } }
    #header-section .logo .logo-word2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      position: relative;
      top: 0.75rem;
      right: 3rem; }
      @media only screen and (orientation: portrait) {
        #header-section .logo .logo-word2 {
          display: none; } }
  #header-section .campus {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 24px; }
    #header-section .campus img {
      position: relative;
      top: 0.2rem;
      height: 2.5rem; }
    @media only screen and (orientation: landscape) {
      #header-section .campus {
        display: none; } }
    @media only screen and (orientation: portrait) {
      #header-section .campus {
        display: inline-flex; } }
  #header-section .online {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 24px; }
    #header-section .online img {
      position: relative;
      top: 0.2rem;
      height: 2.5rem; }
    @media only screen and (orientation: landscape) {
      #header-section .online {
        display: none; } }
    @media only screen and (orientation: portrait) {
      #header-section .online {
        display: inline-flex; } }
  #header-section .login {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 24px; }
    #header-section .login img {
      position: relative;
      top: 0.2rem;
      height: 2.5rem; }
    @media only screen and (orientation: landscape) {
      #header-section .login {
        display: none; } }
    @media only screen and (orientation: portrait) {
      #header-section .login {
        display: inline-flex; } }
  #header-section .nav {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0 24px; }
    #header-section .nav a {
      font-size: 0.75rem;
      font-weight: 600;
      padding: 1.625rem 8px;
      text-decoration: none;
      color: #ffffff;
      background-color: inherit;
      transition: background-color 400ms linear; }
      #header-section .nav a:hover {
        background-color: #f2be54; }
    @media only screen and (orientation: portrait) {
      #header-section .nav {
        display: none; } }

/* Styles applied to banner section */
#banner-section {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%; }
  #banner-section .container-mdm {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    width: 60%; }
    @media only screen and (max-width: 850px) {
      #banner-section .container-mdm {
        width: 50%; } }
    #banner-section .container-mdm .image {
      width: 100%;
      padding: 32px 24px; }
      #banner-section .container-mdm .image img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        border-bottom: 3px solid #f2be54; }
  #banner-section .container-sml {
    width: 40%; }
    @media only screen and (max-width: 850px) {
      #banner-section .container-sml {
        width: 50%; } }
    #banner-section .container-sml .info {
      justify-content: space-around;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      max-width: 90%;
      padding: 32px 0 32px 16px; }
      #banner-section .container-sml .info h1 {
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
        color: #153e5c; }
      #banner-section .container-sml .info h2 {
        width: 100%;
        padding: 24px 0; }
      #banner-section .container-sml .info button {
        text-align: center;
        font-weight: 600;
        padding: 0.5rem 0;
        width: 60%;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        background-color: #f2be54;
        outline: none;
        transition: background-color 400ms linear, color 400ms linear; }
        #banner-section .container-sml .info button:hover {
          color: #153e5c; }

/* Styles applied to news section */
#news-section {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  background-color: #87aeb4; }
  #news-section .container-mdm {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    width: 60%; }
    @media only screen and (max-width: 850px) {
      #news-section .container-mdm {
        width: 50%; } }
    #news-section .container-mdm .article {
      width: 100%;
      padding: 32px 24px; }
      #news-section .container-mdm .article img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        border-bottom: 3px solid #f2be54; }
      #news-section .container-mdm .article .tekst {
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        display: flex; }
        #news-section .container-mdm .article .tekst h1 {
          font-size: 2rem;
          font-weight: 900;
          padding: 32px 0 24px 0;
          color: #153e5c; }
        #news-section .container-mdm .article .tekst span {
          padding-top: 24px;
          font-size: 0.8rem; }
  #news-section .container-sml {
    width: 40%; }
    @media only screen and (max-width: 850px) {
      #news-section .container-sml {
        width: 50%; } }
    #news-section .container-sml .snippets {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 90%;
      padding: 16px 0 16px 16px; }
      #news-section .container-sml .snippets .snippet {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        display: flex;
        width: 100%;
        margin: 16px 0;
        background-color: #f1f0e2;
        border-radius: 5px;
        border-right: 3px solid #f2be54;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
        #news-section .container-sml .snippets .snippet img {
          border-right: 3px solid #f2be54;
          max-width: 35%;
          height: auto; }
        #news-section .container-sml .snippets .snippet .tekst {
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: column;
          display: flex;
          width: 65%;
          padding-left: 16px; }
          #news-section .container-sml .snippets .snippet .tekst h1 {
            font-size: 1.1rem;
            font-weight: 800;
            color: #153e5c; }
          #news-section .container-sml .snippets .snippet .tekst p {
            padding: 8px 0 16px 0;
            font-size: 0.85rem; }
            @media only screen and (max-width: 900px) {
              #news-section .container-sml .snippets .snippet .tekst p {
                padding: 8px 0; } }
          #news-section .container-sml .snippets .snippet .tekst span a {
            font-size: 0.85rem;
            font-weight: 600;
            color: #ffffff;
            background-color: #f2be54;
            border-radius: 5px;
            padding: 0.5rem;
            text-decoration: none;
            transition: background-color 400ms linear, color 400ms linear; }
            #news-section .container-sml .snippets .snippet .tekst span a:hover {
              color: #153e5c; }
            @media only screen and (max-width: 900px) {
              #news-section .container-sml .snippets .snippet .tekst span a {
                padding: 0.25rem;
                font-size: 0.7rem; } }

/* Style applied to courses section */
#courses-section {
  width: 100%; }
  #courses-section .container-lrg {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    padding: 32px 72px; }
    @media only screen and (max-width: 850px) {
      #courses-section .container-lrg {
        padding: 32px; } }
    #courses-section .container-lrg .title {
      text-align: center;
      text-decoration: underline;
      text-decoration-color: #f2be54;
      font-size: 2rem;
      font-weight: 900;
      color: #153e5c; }
    #courses-section .container-lrg .courses {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex; }
      #courses-section .container-lrg .courses .courses-row {
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: row;
        display: flex;
        width: 100%;
        padding: 32px 0 0 0; }
        #courses-section .container-lrg .courses .courses-row .course {
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: column;
          display: flex;
          border-bottom: 3px solid #f2be54;
          border-radius: 5px;
          width: 33.33%;
          background-color: #f1f0e2;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
          #courses-section .container-lrg .courses .courses-row .course:nth-child(0n + 2) {
            margin: auto 32px; }
          #courses-section .container-lrg .courses .courses-row .course img {
            width: 100%;
            height: auto;
            border-bottom: 3px solid #f2be54; }
          #courses-section .container-lrg .courses .courses-row .course .tekst {
            justify-content: flex-start;
            align-items: stretch;
            flex-direction: column;
            display: flex;
            padding: 16px 16px 24px 16px; }
            #courses-section .container-lrg .courses .courses-row .course .tekst h1 {
              font-size: 1.5rem;
              font-weight: 800;
              text-align: left;
              padding: 0;
              color: #153e5c; }
            #courses-section .container-lrg .courses .courses-row .course .tekst span {
              padding: 8px 0;
              font-size: 0.75rem; }
            #courses-section .container-lrg .courses .courses-row .course .tekst p {
              font-weight: 500; }

/* Styles applied to thesis section */
#thesis-section {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #87aeb4; }
  #thesis-section .title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f2be54;
    font-size: 2rem;
    font-weight: 900;
    padding: 32px 0;
    color: #153e5c; }
    @media only screen and (max-width: 850px) {
      #thesis-section .title {
        padding: 32px 0 0 0; } }
  #thesis-section .container-lrg {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    width: 100%; }
  #thesis-section .container-mdm {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    width: 60%; }
    @media only screen and (max-width: 850px) {
      #thesis-section .container-mdm {
        width: 50%; } }
    #thesis-section .container-mdm .article {
      width: 100%;
      padding: 32px 24px; }
      #thesis-section .container-mdm .article video {
        max-width: 100%;
        height: auto; }
      #thesis-section .container-mdm .article .tekst {
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        display: flex; }
        #thesis-section .container-mdm .article .tekst h1 {
          font-size: 2rem;
          font-weight: 900;
          padding: 24px 0 8px 0;
          color: #153e5c; }
  #thesis-section .container-sml {
    width: 40%; }
    @media only screen and (max-width: 850px) {
      #thesis-section .container-sml {
        width: 50%; } }
    #thesis-section .container-sml .snippets {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 90%;
      padding: 16px 0 16px 16px; }
      #thesis-section .container-sml .snippets .snippet {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        display: flex;
        border-right: 3px solid #f2be54;
        border-radius: 5px;
        width: 100%;
        margin: 16px 0;
        background-color: #f1f0e2;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
        #thesis-section .container-sml .snippets .snippet img {
          max-width: 35%;
          height: auto;
          border-right: 3px solid #f2be54; }
        #thesis-section .container-sml .snippets .snippet .tekst {
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: column;
          display: flex;
          width: 65%;
          padding-left: 16px; }
          #thesis-section .container-sml .snippets .snippet .tekst h1 {
            font-size: 1.1rem;
            font-weight: 800;
            color: #153e5c; }
          #thesis-section .container-sml .snippets .snippet .tekst p {
            padding: 8px 0 16px 0;
            font-size: 0.85rem; }

/* Styles applied to footer section */
#footer-section {
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-color: #153e5c; }
  #footer-section span {
    padding: 16px 0 32px 24px;
    font-size: 0.8rem;
    color: #ffffff; }
  #footer-section .bottom-nav {
    padding: 16px 0 32px 0; }
    #footer-section .bottom-nav a {
      padding: 0 16px 0 0;
      font-size: 0.8rem;
      text-decoration: none;
      color: #ffffff; }

/* Styles applied to the whole page */
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #191a1d; }

body {
  background-color: #cdd4ca; }

img {
  border-radius: 5px; }

video {
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #f2be54; }

/*# sourceMappingURL=main.css.map */
