/* Styles applied to whole document */

html {
  font-size: 16px;
  font-family: "Montserrat";
  color: #191a1d;
}

body {
  background-color: #cdd4ca;
}

img {
  border-radius: 10px;
}

video {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* Styles applied to header section */

#header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 64px;
  background-color: #153e5c;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#header-section .logo,
#header-section .nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
}

.logo img {
  position: relative;
  top: 0.2rem;
  height: 4rem;
  color: ;
}

.logo-word1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  bottom: 0.75rem;
}

.logo-word2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 0.75rem;
  right: 3rem;
}

.nav a {
  padding: 1.625rem 8px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: inherit;
  transition: background-color 400ms linear/*, color 400ms linear*/;
}

.nav a:hover {
  background-color: #f2be54;
  color: ;
}

/* Styles applied to banner section */

#banner-section {
  display: flex;
  align-items: center;
  position: relative;
  top: 64px;
  width: 100%;
}

#banner-section .container-mdm {
  display: flex;
  width: 60%;
}

.image {
  width: 100%;
  padding: 32px 24px;
}

.image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#banner-section .container-sml {
  width: 40%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 90%;
  padding: 32px 0 32px 16px;
}

.info h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  color: #153e5c;
}

.info h2 {
  width: 100%;
  padding: 24px 0;
}

.info button {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0;
  width: 60%;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #f2be54;
  outline: none;
  transition: background-color 400ms linear, color 400ms linear;
}

.info button:hover {
  background-color: ;
  color: #153e5c;
}

/* Styles applied to news section */

#news-section {
  display: flex;
  position: relative;
  top: 64px;
  width: 100%;
  background-color: #87aeb4;
}

#news-section .container-mdm {
  display: flex;
  width: 60%;
}

.article {
  width: 100%;
  padding: 32px 24px;
}

.article img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.article .tekst {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article .tekst h1 {
  padding: 32px 0 24px 0;
  font-size: 2rem;
  font-weight: 900;
  color: #153e5c;
}

.article .tekst span {
  padding-top: 24px;
  font-size: 0.8rem;
}

#news-section .container-sml {
  width: 40%;
}

.snippets {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 16px 0 16px 16px;
}

.snippet {
  display: flex;
  align-items: center;
  width: 100%;
  padding: ;
  margin: 16px 0;
  background-color: #f1f0e2;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.snippet img {
  max-width: 35%;
  height: auto;
}

.snippet .tekst {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-left: 16px;
}

.snippet .tekst h1 {
  font-size: 1.1rem;
  font-weight: 800;
  color: #153e5c;
}

.snippet .tekst p {
  padding: 8px 0 16px 0;
  font-size: 0.85rem;
}

.snippet .tekst span a {
  font-size: 0.85rem;
  font-weight: 600;
  color: #fff;
  background-color: #f2be54;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 400ms linear, color 400ms linear;
}

.snippet .tekst span a:hover {
  color: #153e5c;
  background-color: ;
}

/* Style applied to courses section */

#courses-section {
  position: relative;
  top: 64px;
  width: 100%;
}

#courses-section .container-lrg {
  display: flex;
  flex-direction: column;
  padding: 32px 72px;
}

#courses-section .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: #153e5c;
}

.courses {
  display: flex;
  flex-direction: column;
}

.courses-row {
  display: flex;
  width: 100%;
  padding: 32px 0 0 0;
}

.course {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  background-color: #f1f0e2;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.course:nth-child(0n + 2) {
  margin: auto 32px;
}

.course img {
  width: 100%;
  height: auto;
}

.course .tekst {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
}

.course .tekst h1 {
  text-align: left;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 800;
  color: #153e5c;
}

.course .tekst span {
  padding: 8px 0;
  font-size: 0.75rem;
}

.course .tekst p {
  font-weight: 500;
}

/* Styles applied to thesis section */

#thesis-section {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 64px;
  width: 100%;
  background-color: #87aeb4;
}

#thesis-section .title {
  text-align: center;
  padding: 32px 0;
  font-size: 2rem;
  font-weight: 900;
  color: #153e5c;
}
#thesis-section .container-lrg {
  display: flex;
  width: 100%;
}

#thesis-section .container-mdm {
  display: flex;
  width: 60%;
}

.article video {
  max-width: 100%;
  height: auto;
}

#thesis-section .article h1 {
  padding: 24px 0 8px 0;
  font-size: 2rem;
  font-weight: 900;
  color: #153e5c;
}

#thesis-section .container-sml {
  width: 40%;
}

/* Styles applied to footer section */

#footer-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 64px;
  background-color: #153e5c;
}

#footer-section span {
  padding: 16px 0 32px 24px;
  font-size: 0.8rem;
  color: #fff;
}

.bottom-nav {
  padding: 16px 0 32px 0;
}

.bottom-nav a {
  padding: 0 16px 0 0;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
