/* Styles applied to whole document */

html {

}

/* Styles applied to header section */

#header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 64px;
  background-color: lightblue;
}

#header-section .logo,
#header-section .nav {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 24px;
}

.nav a {
  padding-left: 16px;
}

/* Styles applied to banner section */

#banner-section {
  display: flex;
  position: relative;
  top: 64px;
  width: 100%;
  background-color: lightgrey;
}

#banner-section .container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 32px 0;
}

#banner-section .image {
  width: 60%;
  padding: 0 24px;
}

#banner-section img {
  max-width: 100%;
  height: auto;
}

#banner-section .tekst {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}

/* Styles applied to news section */

#news-section {
  display: flex;
  position: relative;
  top: 64px;
  width: 100%;
}

#news-section .article {
  display: flex;
  width: 60%;
  flex-grow: 1;
  border-right: 1px solid lightgrey;
}

.article .container {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.article img {
  max-width: 100%;
  height: auto;
}

.article .tekst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.article .tekst h1 {
  padding: 32px 0 24px 0;
}

.article .tekst p {

}

.article .tekst span {
  margin-top: auto;
}

#news-section .snippets {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
}

.snippets .container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
}

.snippets .container:nth-child(0n + 2) {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.snippets img {
  max-width: 35%;
  height: auto;
}

.snippets .tekst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 65%;
  margin: auto 0;
  padding: 0 16px;
}

.snippets .tekst p {
  padding: 8px 0;
}
