/* Declaring variables */

$yellow: #f2be54;
$light-grey: #cdd4ca;
$light-blue: #87aeb4;
$blue: #153e5c;
$black: #191a1d;
$cream: #f1f0e2;
$white: #ffffff;
$standard-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
$highlight-border: 3px solid $yellow;
